Non-Functional Requirement  
Role: System  
Requirement ID: NFR-01  
Title: Batch Data  
Description: This requirement refers to the capability to process data which is finite and usually large in volume, e.g. data archived in distributed file systems or databases.  
Citation: Vergilio, T and Ramachandran, M (2019) Non-functional requirements for real world big data systems: an investigation of big data architectures at Facebook, Twitter and Netflix. Proceedings of the 13th International Conference on Software Technologies, 1. pp. 833-840.  
Related Title: Distributed File System Processing (Hadoop Ecosystems at Facebook and Twitter)  

Non-Functional Requirement  
Role: System  
Requirement ID: NFR-02  
Title: Stream Data  
Description: This requirement refers to the capability to process data which is potentially infinite and usually flowing at high velocity, e.g. monitoring data captured and processed in real-time, or close to real-time.  
Citation: Vergilio, T and Ramachandran, M (2019) Non-functional requirements for real world big data systems: an investigation of big data architectures at Facebook, Twitter and Netflix. Proceedings of the 13th International Conference on Software Technologies, 1. pp. 833-840.  
Related Title: Real-Time Monitoring Pipelines (Stream Frameworks like Storm and Heron at Twitter)  

Non-Functional Requirement  
Role: System  
Requirement ID: NFR-03  
Title: Late and Out of Order Data  
Description: This requirement relates to stream processing and refers to the capability to process data which arrives late or in a different order from that in which it was emitted. Streaming data from mobile users, for example, could be delayed if the user loses reception for a moment. In order to handle late and out of order data, a system must have been designed with this requirement in mind.  
Citation: Vergilio, T and Ramachandran, M (2019) Non-functional requirements for real world big data systems: an investigation of big data architectures at Facebook, Twitter and Netflix. Proceedings of the 13th International Conference on Software Technologies, 1. pp. 833-840.  
Related Title: Mobile Streaming Data Handling (Windowing and Watermarking in Stylus at Facebook)  

Non-Functional Requirement  
Role: System  
Requirement ID: NFR-04  
Title: Processing Guarantees  
Description: This requirement refers to a stream system’s capability to offer processing guarantees, i.e. exactly once, at least once and at most once. While exactly once processing is ideal, it comes at a cost which could translate into increased latency.  
Citation: Vergilio, T and Ramachandran, M (2019) Non-functional requirements for real world big data systems: an investigation of big data architectures at Facebook, Twitter and Netflix. Proceedings of the 13th International Conference on Software Technologies, 1. pp. 833-840.  
Related Title: Reliable Stream Semantics (Exactly-Once Processing in Kafka at Netflix)  

Non-Functional Requirement  
Role: System  
Requirement ID: NFR-05  
Title: Integration and Extensibility  
Description: This requirement refers to the capability to integrate with existing services and components. It also refers to provisions made to facilitate the extension of the existing architecture to incorporate different components in the future.  
Citation: Vergilio, T and Ramachandran, M (2019) Non-functional requirements for real world big data systems: an investigation of big data architectures at Facebook, Twitter and Netflix. Proceedings of the 13th International Conference on Software Technologies, 1. pp. 833-840.  
Related Title: Modular Pipeline Architectures (Messaging Integration via Scribe at Facebook)  

Non-Functional Requirement  
Role: System  
Requirement ID: NFR-06  
Title: Distribution and Scalability  
Description: This requirement refers to the capability to distribute data processing amongst different machines, located in different data centres, in a multi-clustered architecture. Dynamic scaling, which addresses the possibility of adding or removing nodes to a running system without any downtime, is also addressed as part of this requirement.  
Citation: Vergilio, T and Ramachandran, M (2019) Non-functional requirements for real world big data systems: an investigation of big data architectures at Facebook, Twitter and Netflix. Proceedings of the 13th International Conference on Software Technologies, 1. pp. 833-840.  
Related Title: Multi-Cluster Data Processing (Dynamic Scaling with Dhalion in Heron at Twitter)  

Non-Functional Requirement  
Role: System  
Requirement ID: NFR-07  
Title: Cloud Support and Elasticity  
Description: This requirement refers to the capability to move the architecture (or part of it) into the cloud to take advantage of the many benefits associated with its economies of scale. Elasticity in particular is a cloud property which allows a system to scale up and down according to demand. Since the user only pays for resources actually used, there is less wastage and it is theoretically cheaper than running the entire infrastructure locally with enough idle capacity to cover for any eventual spike. While scalability can be gained by increasing the number of nodes in any traditional architecture, it becomes much more powerful when combined with the elasticity of the cloud.  
Citation: Vergilio, T and Ramachandran, M (2019) Non-functional requirements for real world big data systems: an investigation of big data architectures at Facebook, Twitter and Netflix. Proceedings of the 13th International Conference on Software Technologies, 1. pp. 833-840.  
Related Title: Cloud-Based Elastic Architectures (AWS Integration with Fenzo at Netflix)  

Non-Functional Requirement  
Role: System  
Requirement ID: NFR-08  
Title: Fault Tolerance  
Description: This requirements refers to the capability of a system to continue to operate should one or more nodes fail. Ideally, the system should recover gracefully, with minimal repercussions on the user experience.  
Citation: Vergilio, T and Ramachandran, M (2019) Non-functional requirements for real world big data systems: an investigation of big data architectures at Facebook, Twitter and Netflix. Proceedings of the 13th International Conference on Software Technologies, 1. pp. 833-840.  
Related Title: Resilient Distributed Systems (Node Independence and Checkpointing in Swift at Facebook)  

Non-Functional Requirement  
Role: System  
Requirement ID: NFR-09  
Title: Flow Control  
Description: This requirement refers to the capability to handle scenarios where the data source is emitting records faster than the system can consume. Architectures typically provide strategies for dealing with backpressure, e.g. dropping records, sampling, applying source backpressure, etc.  
Citation: Vergilio, T and Ramachandran, M (2019) Non-functional requirements for real world big data systems: an investigation of big data architectures at Facebook, Twitter and Netflix. Proceedings of the 13th International Conference on Software Technologies, 1. pp. 833-840.  
Related Title: Backpressure Management Systems (Topology-Level Control in Heron at Twitter)  

Non-Functional Requirement  
Role: System  
Requirement ID: NFR-10  
Title: Flexibility and Technology Agnosticism  
Description: This criterion refers to the capability of an architecture to use different technology in place of existing components.  
Citation: Vergilio, T and Ramachandran, M (2019) Non-functional requirements for real world big data systems: an investigation of big data architectures at Facebook, Twitter and Netflix. Proceedings of the 13th International Conference on Software Technologies, 1. pp. 833-840.  
Related Title: Open-Source Adaptable Frameworks (Kubernetes Compatibility in Heron at Twitter)