Non-Functional Requirement  
Role: Researchers  
Requirement ID: NFR-01  
Title: Risk of Bias Assessment  
Description: Researchers (AE and ZP) evaluated the quality of the articles using the Cochrane Collaboration’s tool (Albornoz et al., 2022), which includes the following criteria: (1) random sequence generation, (2) allocation concealment, (3) blinding of participants and personnel, (4) blinding of outcome assessment, (5) incomplete outcome data, (6) selective reporting, and (7) other sources of bias. The results were divided into three groups: low risk of bias, high risk of bias, and unclear risk of bias. The interpretation of the quality assessment results based on guidelines was as follows: good (low risk for more than 2 items), fair (low risk for 2 items), or weak (low risk for less than 2 items).  
Citation: 2.5. Literature Quality Assessment and Risk of Bias Assessment, page 2.  
Related Title: Systematic Review Risk Assessment in Health Informatics  

Non-Functional Requirement  
Role: System  
Requirement ID: NFR-02  
Title: Testability  
Description: The findings highlight the importance of mHealth solutions for virtual care and the need for the development of apps based on the extracted functional and nonfunctional requirements for VCMA; however, controlled trials are necessary. It is recommended that transparent reporting of mHealth interventions be prioritized to enable effective interpretation of the extracted data.  
Citation: Conclusion, page 1.  
Related Title: Validation Testing for Mobile Health Applications