Non-Functional Requirement
Role: System
Requirement ID: NFR-06
Title: Testability
Description: System should support systematic validation of its features through usability aspects, such as creating a personal profile for the user, selecting measurement units, enabling microphone and camera functionalities, and providing options for logging out.
Citation: Parsaei, Z., Jangi, M., Tahmasebian, S., & Ehteshami, A. (2024). Functional and Nonfunctional Requirements of Virtual Clinic Mobile Applications: A Systematic Review. International Journal of Telemedicine and Applications, 2024, 7800321.
Related Title: Virtual Clinic Mobile Applications, Telemedicine Systems

Non-Functional Requirement
Role: System
Requirement ID: NFR-07
Title: Reliability
Description: System should ensure runtime reliability and trustworthiness through security measures, including encrypted patient data exchange, user identity verification via verification codes, secure login methods, and the ability to delete consultation records.
Citation: Parsaei, Z., Jangi, M., Tahmasebian, S., & Ehteshami, A. (2024). Functional and Nonfunctional Requirements of Virtual Clinic Mobile Applications: A Systematic Review. International Journal of Telemedicine and Applications, 2024, 7800321.
Related Title: Secure Telemedicine Apps, Health Data Management Systems