REQUIREMENT REPORT
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-01
- Requirement Title: Identity Documentation
- Requirement Description: Document user's first name and surname.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Demographic data documentation
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-02
- Requirement Title: Insurance Documentation
- Requirement Description: Record insurance name and number.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Demographic data documentation
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-03
- Requirement Title: Vital Sign Documentation - Blood Pressure
- Requirement Description: Document blood pressure as part of vital signs.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-04
- Requirement Title: Vital Sign Documentation - Heart Rate
- Requirement Description: Document heart rate as part of vital signs.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-05
- Requirement Title: Kidney Documentation - Blood Sugar
- Requirement Description: Document blood sugar levels.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-06
- Requirement Title: Fitness Documentation - Weight
- Requirement Description: Document user's weight.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-07
- Requirement Title: Fitness Documentation - Exercise
- Requirement Description: Document exercise activities.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-08
- Requirement Title: Fitness Documentation - Sleep
- Requirement Description: Document sleep patterns.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-09
- Requirement Title: Fitness Documentation - Nutrition
- Requirement Description: Document nutritional intake.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-10
- Requirement Title: Skin Documentation - Condition
- Requirement Description: Document condition of skin.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-11
- Requirement Title: History Documentation - Disease History
- Requirement Description: Document disease history.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-12
- Requirement Title: History Documentation - Family History
- Requirement Description: Document family history.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-13
- Requirement Title: History Documentation - Allergy
- Requirement Description: Document allergies.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-14
- Requirement Title: History Documentation - Medications History
- Requirement Description: Document medications history.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-15
- Requirement Title: History Documentation - Vaccination
- Requirement Description: Document vaccination records.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-16
- Requirement Title: History Documentation - Surgeries
- Requirement Description: Document surgical history.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-17
- Requirement Title: History Documentation - Smoking
- Requirement Description: Document smoking history.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-18
- Requirement Title: Present History Documentation - Symptoms and Conditions
- Requirement Description: Document current symptoms and conditions.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-19
- Requirement Title: Present History Documentation - X-ray
- Requirement Description: Document X-ray results.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-20
- Requirement Title: Present History Documentation - Tests
- Requirement Description: Document test results.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-21
- Requirement Title: Present History Documentation - Treatments
- Requirement Description: Document treatments received.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-22
- Requirement Title: Present History Documentation - Prescriptions
- Requirement Description: Document prescriptions.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-23
- Requirement Title: Present History Documentation - Patient Training
- Requirement Description: Document patient training sessions.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-24
- Requirement Title: Inpatient Treatment History Documentation - Date of Admission and Discharge
- Requirement Description: Document dates of admission and discharge.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-25
- Requirement Title: Inpatient Treatment History Documentation - Hospital Name
- Requirement Description: Document hospital name.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-26
- Requirement Title: Inpatient Treatment History Documentation - Chief Complaint
- Requirement Description: Document chief complaint.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-27
- Requirement Title: Inpatient Treatment History Documentation - Summary
- Requirement Description: Document summary of inpatient treatment.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-28
- Requirement Title: Medication Documentation - Name
- Requirement Description: Document medication name.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-29
- Requirement Title: Medication Documentation - Dose
- Requirement Description: Document medication dose.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-30
- Requirement Title: Medication Documentation - Type
- Requirement Description: Document medication type.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-31
- Requirement Title: Medication Documentation - Instruction
- Requirement Description: Document medication instructions.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-32
- Requirement Title: Medication Documentation - Side Effects
- Requirement Description: Document medication side effects.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Health record
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-33
- Requirement Title: Reminders - Appointment
- Requirement Description: Provide reminders for appointments.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-34
- Requirement Title: Reminders - Preventive Care
- Requirement Description: Provide reminders for preventive care.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-35
- Requirement Title: Display - Patient Self-Declaration
- Requirement Description: Display patient’s self-declaration about health status.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-36
- Requirement Title: Display - Consultant Identity
- Requirement Description: Display consultant's name, surname, and profile picture.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-37
- Requirement Title: Display - Curriculum Vitae
- Requirement Description: Display consultant's expertise and consulting field.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-38
- Requirement Title: Display - Type of Communication
- Requirement Description: Display available communication types: phone call, text, video call, and real-time.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-39
- Requirement Title: Display - Appointment Details
- Requirement Description: Display consultation date, time, duration, and waiting time for response.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-40
- Requirement Title: Service Selection - Consultation Scheduling
- Requirement Description: Allow choosing consultation day, time, and type of insurance.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-41
- Requirement Title: Reporting - Treatment Process Reports
- Requirement Description: Provide weekly/monthly reports on the patient’s treatment process.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-42
- Requirement Title: Reporting - Vital Signs and Medical History Reports
- Requirement Description: Provide weekly/monthly reports of vital signs and medical history.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-43
- Requirement Title: Support - Communication Documentation
- Requirement Description: Document communication ways including tagging capability and frequently asked questions.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-44
- Requirement Title: Support - Q and A Ability
- Requirement Description: Provide discussion forum with patients and consultants.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-45
- Requirement Title: Help/Tutorial - Text Guide
- Requirement Description: Provide text guide for help.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-46
- Requirement Title: Help/Tutorial - In-App Training
- Requirement Description: Provide training inside the application on how to use it.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-47
- Requirement Title: Help/Tutorial - About Us
- Requirement Description: Provide information about the application.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: FR-48
- Requirement Title: Help/Tutorial - Terms and Conditions
- Requirement Description: Provide terms and conditions of use.
- Citation: Parsaei et al., 2024
- Requirement Related Title: General features of the user interface
- Role: Virtual Clinic Mobile Application
- Requirement ID: NF-01
- Requirement Title: Usability - Personal Profile Creation
- Requirement Description: Allow creating a personal profile for users (consultant-patient).
- Citation: Parsaei et al., 2024
- Requirement Related Title: Usability
- Role: Virtual Clinic Mobile Application
- Requirement ID: NF-02
- Requirement Title: Usability - Microphone Access
- Requirement Description: Enable microphone functionality.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Usability
- Role: Virtual Clinic Mobile Application
- Requirement ID: NF-03
- Requirement Title: Usability - Camera Access
- Requirement Description: Enable camera functionality.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Usability
- Role: Virtual Clinic Mobile Application
- Requirement ID: NF-04
- Requirement Title: Usability - Measurement Units Selection
- Requirement Description: Allow selection of measurement units like centimeters and meters for height.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Usability
- Role: Virtual Clinic Mobile Application
- Requirement ID: NF-05
- Requirement Title: Usability - Video Call with Participants
- Requirement Description: Enable making video calls with other connected individuals.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Usability
- Role: Virtual Clinic Mobile Application
- Requirement ID: NF-06
- Requirement Title: Usability - Conversation Starter Selection
- Requirement Description: Allow selecting conversation starters.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Usability
- Role: Virtual Clinic Mobile Application
- Requirement ID: NF-07
- Requirement Title: Usability - Log Out Functionality
- Requirement Description: Provide log out option.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Usability
- Role: Virtual Clinic Mobile Application
- Requirement ID: NF-08
- Requirement Title: Accessibility - Save and Mark Features
- Requirement Description: Allow saving and marking appointments, reminders, notes, recorded voices, photos, and messages; send feedback on consultant’s performance and select text from a default list.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Accessibility
- Role: Virtual Clinic Mobile Application
- Requirement ID: NF-09
- Requirement Title: Accessibility - Sharing Ability
- Requirement Description: Enable sharing individual lessons, health record information with doctors, and patient-consultant data exchange.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Accessibility
- Role: Virtual Clinic Mobile Application
- Requirement ID: NF-10
- Requirement Title: Compatibility - Insurance Recording Format
- Requirement Description: Support recording insurance name and number in compatible format.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Compatibility
- Role: Virtual Clinic Mobile Application
- Requirement ID: NF-11
- Requirement Title: Efficiency - Financial Transaction Reporting
- Requirement Description: Provide reporting on financial transactions.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Efficiency
- Role: Virtual Clinic Mobile Application
- Requirement ID: NF-12
- Requirement Title: Security - Login Methods
- Requirement Description: Support login via text password, email, activation code, and anonymously.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Security
- Role: Virtual Clinic Mobile Application
- Requirement ID: NF-13
- Requirement Title: Security - User Identity Verification
- Requirement Description: Verify user’s identity by sending a verification code to the mobile phone.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Security
- Role: Virtual Clinic Mobile Application
- Requirement ID: NF-14
- Requirement Title: Security - Record Deletion
- Requirement Description: Allow deletion of consultation records, documents, and bank transactions.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Security
- Role: Virtual Clinic Mobile Application
- Requirement ID: NF-15
- Requirement Title: Security - Encrypted Data Exchange
- Requirement Description: Ensure encrypted patient data exchange.
- Citation: Parsaei et al., 2024
- Requirement Related Title: Security