Non-Functional Requirement  
Role: System  
Requirement ID: NFR-01  
Title: Testability  
Description: System should support systematic validation of its ML outputs through techniques such as establishing ground-truth to verify the results of SofiHub’s AI component and to validate the sensor data.  
Citation: Curumsing et al. (2019). Emotion-oriented requirements engineering: A case study in developing a smart home system for the elderly. The Journal of Systems & Software, 147, 215-229. (Page 8, Section 4.3.1 Data collection tools)  
Related Title: AI Anomaly Detection in Elderly Care Homes  

Functional Requirement  
Role: System  
Requirement ID: FR-01  
Title: Anomaly Detection and Alerting  
Description: System should process input features (e.g., sensor data on motion, door states, temperature, humidity) and produce alerts when anomalous behaviour is detected (eg: user is spending an abnormal time in bed).  
Citation: Curumsing et al. (2019). Emotion-oriented requirements engineering: A case study in developing a smart home system for the elderly. The Journal of Systems & Software, 147, 215-229. (Page 7, Section 4.1 SofiHub features)  
Related Title: Passive Monitoring Systems for Independent Living