REQUIREMENT REPORT
- Role: VCMA User
- Requirement ID: FR-01
- Requirement Title: Identity
- Requirement Description: first name and surname
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Demographic data documentation

- Role: VCMA User
- Requirement ID: FR-02
- Requirement Title: Insurance
- Requirement Description: insurance name and number
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Demographic data documentation

- Role: VCMA User
- Requirement ID: FR-03
- Requirement Title: Blood pressure
- Requirement Description: Blood pressure
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Vital sign documentation

- Role: VCMA User
- Requirement ID: FR-04
- Requirement Title: Heart rate
- Requirement Description: Heart rate
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Vital sign documentation

- Role: VCMA User
- Requirement ID: FR-05
- Requirement Title: Blood sugar
- Requirement Description: Blood sugar
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Kidney documentation

- Role: VCMA User
- Requirement ID: FR-06
- Requirement Title: Weight
- Requirement Description: Weight
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Fitness documentation

- Role: VCMA User
- Requirement ID: FR-07
- Requirement Title: Exercise
- Requirement Description: Exercise
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Fitness documentation

- Role: VCMA User
- Requirement ID: FR-08
- Requirement Title: Sleep
- Requirement Description: Sleep
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Fitness documentation

- Role: VCMA User
- Requirement ID: FR-09
- Requirement Title: Nutrition
- Requirement Description: Nutrition
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Fitness documentation

- Role: VCMA User
- Requirement ID: FR-10
- Requirement Title: Condition of skin
- Requirement Description: Condition of skin
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Skin documentation

- Role: VCMA User
- Requirement ID: FR-11
- Requirement Title: Disease history
- Requirement Description: Disease history
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: History documentation

- Role: VCMA User
- Requirement ID: FR-12
- Requirement Title: Family history
- Requirement Description: Family history
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: History documentation

- Role: VCMA User
- Requirement ID: FR-13
- Requirement Title: Allergy
- Requirement Description: Allergy
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: History documentation

- Role: VCMA User
- Requirement ID: FR-14
- Requirement Title: Medications history
- Requirement Description: Medications history
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: History documentation

- Role: VCMA User
- Requirement ID: FR-15
- Requirement Title: Vaccination
- Requirement Description: Vaccination
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: History documentation

- Role: VCMA User
- Requirement ID: FR-16
- Requirement Title: Surgeries
- Requirement Description: Surgeries
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: History documentation

- Role: VCMA User
- Requirement ID: FR-17
- Requirement Title: Smoking
- Requirement Description: Smoking
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: History documentation

- Role: VCMA User
- Requirement ID: FR-18
- Requirement Title: Symptoms and conditions
- Requirement Description: Symptoms and conditions
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Present history documentation

- Role: VCMA User
- Requirement ID: FR-19
- Requirement Title: X-ray
- Requirement Description: X-ray
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Present history documentation

- Role: VCMA User
- Requirement ID: FR-20
- Requirement Title: Tests
- Requirement Description: Tests
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Present history documentation

- Role: VCMA User
- Requirement ID: FR-21
- Requirement Title: Treatments
- Requirement Description: Treatments
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Present history documentation

- Role: VCMA User
- Requirement ID: FR-22
- Requirement Title: Prescriptions
- Requirement Description: Prescriptions
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Present history documentation

- Role: VCMA User
- Requirement ID: FR-23
- Requirement Title: Patient training
- Requirement Description: Patient training
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Present history documentation

- Role: VCMA User
- Requirement ID: FR-24
- Requirement Title: Date of admission and discharge
- Requirement Description: Date of admission and discharge
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Documentation of inpatient treatment history

- Role: VCMA User
- Requirement ID: FR-25
- Requirement Title: Hospital name
- Requirement Description: Hospital name
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Documentation of inpatient treatment history

- Role: VCMA User
- Requirement ID: FR-26
- Requirement Title: Chief complaint
- Requirement Description: Chief complaint
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Documentation of inpatient treatment history

- Role: VCMA User
- Requirement ID: FR-27
- Requirement Title: Summary
- Requirement Description: Summary
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Documentation of inpatient treatment history

- Role: VCMA User
- Requirement ID: FR-28
- Requirement Title: Name
- Requirement Description: Name
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Medication documentation

- Role: VCMA User
- Requirement ID: FR-29
- Requirement Title: Dose
- Requirement Description: Dose
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Medication documentation

- Role: VCMA User
- Requirement ID: FR-30
- Requirement Title: Type
- Requirement Description: Type
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Medication documentation

- Role: VCMA User
- Requirement ID: FR-31
- Requirement Title: Instruction
- Requirement Description: Instruction
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Medication documentation

- Role: VCMA User
- Requirement ID: FR-32
- Requirement Title: Side effects
- Requirement Description: Side effects
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Medication documentation

- Role: VCMA User
- Requirement ID: FR-33
- Requirement Title: Appointment
- Requirement Description: Appointment
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Reminders

- Role: VCMA User
- Requirement ID: FR-34
- Requirement Title: Preventive care
- Requirement Description: Preventive care
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Reminders

- Role: VCMA User
- Requirement ID: FR-35
- Requirement Title: Patient’s self-declaration about his health status
- Requirement Description: Patient’s self-declaration about his health status
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Display

- Role: VCMA User
- Requirement ID: FR-36
- Requirement Title: Consultant identity
- Requirement Description: name and surname and profile picture
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Display

- Role: VCMA User
- Requirement ID: FR-37
- Requirement Title: Curriculum vitae
- Requirement Description: expertise and consulting field
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Display

- Role: VCMA User
- Requirement ID: FR-38
- Requirement Title: Type of communication
- Requirement Description: phone call, text, video call, and real-time
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Display

- Role: VCMA User
- Requirement ID: FR-39
- Requirement Title: Appointment
- Requirement Description: consultation date, time, duration, and waiting time for response
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Display

- Role: VCMA User
- Requirement ID: FR-40
- Requirement Title: Choosing consultation day, time, and type of insurance
- Requirement Description: Choosing consultation day, time, and type of insurance
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Service selection

- Role: VCMA User
- Requirement ID: FR-41
- Requirement Title: Providing weekly/monthly reports on the patient’s treatment process
- Requirement Description: Providing weekly/monthly reports on the patient’s treatment process
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Reporting

- Role: VCMA User
- Requirement ID: FR-42
- Requirement Title: Providing weekly/monthly reports of vital signs and medical history
- Requirement Description: Providing weekly/monthly reports of vital signs and medical history
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Reporting

- Role: VCMA User
- Requirement ID: FR-43
- Requirement Title: Documentation of communication ways
- Requirement Description: tagging capability in VCMA and frequently asked questions
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Support

- Role: VCMA User
- Requirement ID: FR-44
- Requirement Title: Q and A ability
- Requirement Description: discussion forum with others (patients and consultants)
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Support

- Role: VCMA User
- Requirement ID: FR-45
- Requirement Title: Text guide
- Requirement Description: help
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Help/tutorial

- Role: VCMA User
- Requirement ID: FR-46
- Requirement Title: Training inside VCMA
- Requirement Description: working with it
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Help/tutorial

- Role: VCMA User
- Requirement ID: FR-47
- Requirement Title: About us
- Requirement Description: About us
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Help/tutorial

- Role: VCMA User
- Requirement ID: FR-48
- Requirement Title: Terms and conditions of use
- Requirement Description: Terms and conditions of use
- Citation: Parsaei et al. (2024), Table 1
- Requirement Related Title: Help/tutorial

- Role: VCMA User
- Requirement ID: NF-01
- Requirement Title: Creating a personal profile for the user (consultant-patient)
- Requirement Description: Creating a personal profile for the user (consultant-patient)
- Citation: Parsaei et al. (2024), Table 2
- Requirement Related Title: Usability - Setting

- Role: VCMA User
- Requirement ID: NF-02
- Requirement Title: Microphone
- Requirement Description: Microphone
- Citation: Parsaei et al. (2024), Table 2
- Requirement Related Title: Usability - Setting

- Role: VCMA User
- Requirement ID: NF-03
- Requirement Title: Camera
- Requirement Description: Camera
- Citation: Parsaei et al. (2024), Table 2
- Requirement Related Title: Usability - Setting

- Role: VCMA User
- Requirement ID: NF-04
- Requirement Title: Measurement units selection
- Requirement Description: selection of measurement units like centimeters and meters for height
- Citation: Parsaei et al. (2024), Table 2
- Requirement Related Title: Usability - Setting

- Role: VCMA User
- Requirement ID: NF-05
- Requirement Title: Video call with other participants
- Requirement Description: making a video call with other connected individuals
- Citation: Parsaei et al. (2024), Table 2
- Requirement Related Title: Usability - Setting

- Role: VCMA User
- Requirement ID: NF-06
- Requirement Title: Selecting conversation starter
- Requirement Description: Selecting conversation starter
- Citation: Parsaei et al. (2024), Table 2
- Requirement Related Title: Usability - Setting

- Role: VCMA User
- Requirement ID: NF-07
- Requirement Title: Log out
- Requirement Description: Log out
- Citation: Parsaei et al. (2024), Table 2
- Requirement Related Title: Usability - Setting

- Role: VCMA User
- Requirement ID: NF-08
- Requirement Title: Save and mark
- Requirement Description: appointments, reminders, notes, recorded voices, photos, and messages; send feedback on consultant’s performance and select text from a default list
- Citation: Parsaei et al. (2024), Table 2
- Requirement Related Title: Accessibility - Service

- Role: VCMA User
- Requirement ID: NF-09
- Requirement Title: Ability to share
- Requirement Description: individual lessons, health record information with doctors, and patient-consultant data exchange
- Citation: Parsaei et al. (2024), Table 2
- Requirement Related Title: Accessibility - Service

- Role: VCMA User
- Requirement ID: NF-10
- Requirement Title: Insurance
- Requirement Description: recording name and number
- Citation: Parsaei et al. (2024), Table 2
- Requirement Related Title: Compatibility - Service format

- Role: VCMA User
- Requirement ID: NF-11
- Requirement Title: Financial transaction reporting
- Requirement Description: Financial transaction reporting
- Citation: Parsaei et al. (2024), Table 2
- Requirement Related Title: Efficiency - Service

- Role: VCMA User
- Requirement ID: NF-12
- Requirement Title: Login method
- Requirement Description: text password, email, activation code, and anonymously
- Citation: Parsaei et al. (2024), Table 2
- Requirement Related Title: Security

- Role: VCMA User
- Requirement ID: NF-13
- Requirement Title: Verify the user’s identity
- Requirement Description: by sending a verification code to the mobile phone
- Citation: Parsaei et al. (2024), Table 2
- Requirement Related Title: Security

- Role: VCMA User
- Requirement ID: NF-14
- Requirement Title: Possibility of deleting consultation records, documents, and bank transactions
- Requirement Description: Possibility of deleting consultation records, documents, and bank transactions
- Citation: Parsaei et al. (2024), Table 2
- Requirement Related Title: Security

- Role: VCMA User
- Requirement ID: NF-15
- Requirement Title: Encrypted patient data exchange
- Requirement Description: Encrypted patient data exchange
- Citation: Parsaei et al. (2024), Table 2
- Requirement Related Title: Security