REQUIREMENT REPORT

- Role: Patient
- Requirement ID: FR-01
- Requirement Title: Identity Documentation
- Requirement Description: First name and surname
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Demographic data documentation

- Role: Patient
- Requirement ID: FR-02
- Requirement Title: Insurance Documentation
- Requirement Description: Insurance name and number
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Demographic data documentation

- Role: Patient
- Requirement ID: FR-03
- Requirement Title: Vital Sign Documentation - Blood Pressure
- Requirement Description: Blood pressure
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-04
- Requirement Title: Vital Sign Documentation - Heart Rate
- Requirement Description: Heart rate
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-05
- Requirement Title: Kidney Documentation - Blood Sugar
- Requirement Description: Blood sugar
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-06
- Requirement Title: Fitness Documentation - Weight
- Requirement Description: Weight
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-07
- Requirement Title: Fitness Documentation - Exercise
- Requirement Description: Exercise
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-08
- Requirement Title: Fitness Documentation - Sleep
- Requirement Description: Sleep
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-09
- Requirement Title: Fitness Documentation - Nutrition
- Requirement Description: Nutrition
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-10
- Requirement Title: Skin Documentation - Condition
- Requirement Description: Condition of skin
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-11
- Requirement Title: History Documentation - Disease History
- Requirement Description: Disease history
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-12
- Requirement Title: History Documentation - Family History
- Requirement Description: Family history
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-13
- Requirement Title: History Documentation - Allergy
- Requirement Description: Allergy
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-14
- Requirement Title: History Documentation - Medications History
- Requirement Description: Medications history
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-15
- Requirement Title: History Documentation - Vaccination
- Requirement Description: Vaccination
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-16
- Requirement Title: History Documentation - Surgeries
- Requirement Description: Surgeries
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-17
- Requirement Title: History Documentation - Smoking
- Requirement Description: Smoking
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-18
- Requirement Title: Present History Documentation - Symptoms and Conditions
- Requirement Description: Symptoms and conditions
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-19
- Requirement Title: Present History Documentation - X-ray
- Requirement Description: X-ray
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-20
- Requirement Title: Present History Documentation - Tests
- Requirement Description: Tests
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-21
- Requirement Title: Present History Documentation - Treatments
- Requirement Description: Treatments
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-22
- Requirement Title: Present History Documentation - Prescriptions
- Requirement Description: Prescriptions
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-23
- Requirement Title: Present History Documentation - Patient Training
- Requirement Description: Patient training
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-24
- Requirement Title: Inpatient Treatment History Documentation - Date of Admission and Discharge
- Requirement Description: Date of admission and discharge
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-25
- Requirement Title: Inpatient Treatment History Documentation - Hospital Name
- Requirement Description: Hospital name
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-26
- Requirement Title: Inpatient Treatment History Documentation - Chief Complaint
- Requirement Description: Chief complaint
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-27
- Requirement Title: Inpatient Treatment History Documentation - Summary
- Requirement Description: Summary
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-28
- Requirement Title: Medication Documentation - Name
- Requirement Description: Name
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-29
- Requirement Title: Medication Documentation - Dose
- Requirement Description: Dose
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-30
- Requirement Title: Medication Documentation - Type
- Requirement Description: Type
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-31
- Requirement Title: Medication Documentation - Instruction
- Requirement Description: Instruction
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: Patient
- Requirement ID: FR-32
- Requirement Title: Medication Documentation - Side Effects
- Requirement Description: Side effects
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: Health record

- Role: User
- Requirement ID: FR-33
- Requirement Title: Reminders - Appointment
- Requirement Description: Appointment
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: FR-34
- Requirement Title: Reminders - Preventive Care
- Requirement Description: Preventive care
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: FR-35
- Requirement Title: Display - Patient Self-Declaration
- Requirement Description: Patient’s self-declaration about his health status
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: FR-36
- Requirement Title: Display - Consultant Identity
- Requirement Description: Consultant identity: name and surname and profile picture
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: FR-37
- Requirement Title: Display - Curriculum Vitae
- Requirement Description: Curriculum vitae: expertise and consulting field
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: FR-38
- Requirement Title: Display - Type of Communication
- Requirement Description: Type of communication: phone call, text, video call, and real-time
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: FR-39
- Requirement Title: Display - Appointment Details
- Requirement Description: Appointment: consultation date, time, duration, and waiting time for response
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: FR-40
- Requirement Title: Service Selection - Consultation Parameters
- Requirement Description: Choosing consultation day, time, and type of insurance
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: FR-41
- Requirement Title: Reporting - Treatment Process
- Requirement Description: Providing weekly/monthly reports on the patient’s treatment process
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: FR-42
- Requirement Title: Reporting - Vital Signs and Medical History
- Requirement Description: Providing weekly/monthly reports of vital signs and medical history
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: FR-43
- Requirement Title: Support - Communication Ways
- Requirement Description: Documentation of communication ways: tagging capability in VCMA and frequently asked questions
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: FR-44
- Requirement Title: Support - Q&A Ability
- Requirement Description: Q and A ability: discussion forum with others (patients and consultants)
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: FR-45
- Requirement Title: Help/Tutorial - Text Guide
- Requirement Description: Text guide: help
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: FR-46
- Requirement Title: Help/Tutorial - Training Inside VCMA
- Requirement Description: Training inside VCMA: working with it
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: FR-47
- Requirement Title: Help/Tutorial - About Us
- Requirement Description: About us
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: FR-48
- Requirement Title: Help/Tutorial - Terms and Conditions
- Requirement Description: Terms and conditions of use
- Citation: Parsaei et al., 2024, Table 1
- Requirement Related Title: General features of UI

- Role: User
- Requirement ID: NF-01
- Requirement Title: Usability - Personal Profile Creation
- Requirement Description: Creating a personal profile for the user (consultant-patient)
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Usability

- Role: User
- Requirement ID: NF-02
- Requirement Title: Usability - Microphone
- Requirement Description: Microphone
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Usability

- Role: User
- Requirement ID: NF-03
- Requirement Title: Usability - Camera
- Requirement Description: Camera
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Usability

- Role: User
- Requirement ID: NF-04
- Requirement Title: Usability - Measurement Units Selection
- Requirement Description: Measurement units selection: selection of measurement units like centimeters and meters for height
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Usability

- Role: User
- Requirement ID: NF-05
- Requirement Title: Usability - Video Call with Other Participants
- Requirement Description: Video call with other participants: making a video call with other connected individuals
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Usability

- Role: User
- Requirement ID: NF-06
- Requirement Title: Usability - Selecting Conversation Starter
- Requirement Description: Selecting conversation starter
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Usability

- Role: User
- Requirement ID: NF-07
- Requirement Title: Usability - Log Out
- Requirement Description: Log out
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Usability

- Role: User
- Requirement ID: NF-08
- Requirement Title: Accessibility - Save and Mark Appointments
- Requirement Description: Save and mark: appointments
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Accessibility

- Role: User
- Requirement ID: NF-09
- Requirement Title: Accessibility - Save and Mark Reminders
- Requirement Description: Save and mark: reminders
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Accessibility

- Role: User
- Requirement ID: NF-10
- Requirement Title: Accessibility - Save and Mark Notes
- Requirement Description: Save and mark: notes
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Accessibility

- Role: User
- Requirement ID: NF-11
- Requirement Title: Accessibility - Save and Mark Recorded Voices
- Requirement Description: Save and mark: recorded voices
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Accessibility

- Role: User
- Requirement ID: NF-12
- Requirement Title: Accessibility - Save and Mark Photos
- Requirement Description: Save and mark: photos
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Accessibility

- Role: User
- Requirement ID: NF-13
- Requirement Title: Accessibility - Save and Mark Messages
- Requirement Description: Save and mark: messages
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Accessibility

- Role: User
- Requirement ID: NF-14
- Requirement Title: Accessibility - Send Feedback on Consultant Performance
- Requirement Description: Send feedback on consultant’s performance
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Accessibility

- Role: User
- Requirement ID: NF-15
- Requirement Title: Accessibility - Select Text from Default List
- Requirement Description: Select text from a default list
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Accessibility

- Role: User
- Requirement ID: NF-16
- Requirement Title: Accessibility - Share Individual Lessons
- Requirement Description: Ability to share: individual lessons
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Accessibility

- Role: User
- Requirement ID: NF-17
- Requirement Title: Accessibility - Share Health Record Information with Doctors
- Requirement Description: Ability to share: health record information with doctors
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Accessibility

- Role: User
- Requirement ID: NF-18
- Requirement Title: Accessibility - Patient-Consultant Data Exchange
- Requirement Description: Patient-consultant data exchange
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Accessibility

- Role: User
- Requirement ID: NF-19
- Requirement Title: Compatibility - Insurance Recording
- Requirement Description: Insurance: recording name and number
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Compatibility

- Role: User
- Requirement ID: NF-20
- Requirement Title: Efficiency - Financial Transaction Reporting
- Requirement Description: Financial transaction reporting
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Efficiency

- Role: User
- Requirement ID: NF-21
- Requirement Title: Security - Login Method
- Requirement Description: Login method: text password, email, activation code, and anonymously
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Security

- Role: User
- Requirement ID: NF-22
- Requirement Title: Security - Verify User Identity
- Requirement Description: Verify the user’s identity by sending a verification code to the mobile phone
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Security

- Role: User
- Requirement ID: NF-23
- Requirement Title: Security - Delete Consultation Records
- Requirement Description: Possibility of deleting consultation records, documents, and bank transactions
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Security

- Role: User
- Requirement ID: NF-24
- Requirement Title: Security - Encrypted Patient Data Exchange
- Requirement Description: Encrypted patient data exchange
- Citation: Parsaei et al., 2024, Table 2
- Requirement Related Title: Security